.sticky {
    z-index: 99;
}

.sticky .page_header {
    box-shadow: 0px 1px 20px rgba(0, 0, 0, 0.1);
}

.table_section [class*="col-"] {
    display: block;
}

@media screen and (min-width: 992px) {
    .table_section [class*="col-"] {
        display: table-cell;
    }
}